<div class="about-parallax" aria-hidden="true">
  <div class="about-camera about-camera--left about-camera--1">
    {{ partial "about-camera.svg" }}
  </div>
  <div class="about-camera about-camera--right about-camera--2">
    {{ partial "about-camera.svg" }}
  </div>
  <div class="about-camera about-camera--left about-camera--3">
    {{ partial "about-camera.svg" }}
  </div>
  <div class="about-camera about-camera--right about-camera--4">
    {{ partial "about-camera.svg" }}
  </div>
  <div class="about-camera about-camera--left about-camera--5">
    {{ partial "about-camera.svg" }}
  </div>
  <div class="about-camera about-camera--right about-camera--6">
    {{ partial "about-camera.svg" }}
  </div>
</div>
